<h1 class="display-4"><%= @title %></h1>
<p><%= @msg %></p>
<p><%= @msg1 %>
<% if @msg1.present?%>
  <%= link_to("予防するには？","http://localhost:3000/people/1") %>
<% end%></p>
<p><%= @msg2 %>
<% if @msg2.present?%>
  <%= link_to("予防するには？","http://localhost:3000/people/2") %>
<% end%></p>
<p><%= @msg3 %>
<% if @msg3.present?%>
  <%= link_to("予防するには？","http://localhost:3000/people/3") %>
<% end%></p>
<p>a</p>
